.burger-menu {
	width: 20px;
	height: 13px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	position: relative;
}

.bar {
	width: 20px;
	height: 2px;
	background-color: #ffffff;
	border-radius: 1px;
	transition: all 0.2s ease-in-out;
}

.burger-menu.open .bar1 {
	transform: translateY(5.5px) rotate(45deg);
}

.burger-menu.open .bar2 {
	opacity: 0;
}

.burger-menu.open .bar3 {
	transform: translateY(-5.5px) rotate(-45deg);
}

.burger-menu.open .bar1,
.burger-menu.open .bar3 {
	transition-delay: 0.1s;
}